* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #47682C;
}

body {
    background: linear-gradient(rgba(25, 50, 60, .75), rgba(65, 101, 138, .75), rgba(149, 178, 176, .75)),
                url(../images/stars.jpg);
    background-size: 200%;
    animation: backgroundFlow 400s ease infinite;
    color: white;
    font-family: 'Fira Sans Condensed', sans-serif;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

@keyframes backgroundFlow {
	0% {
		background-position: left;
	}
    25% {
		background-position: center;
	}
	50% {
		background-position: right;
	}
    75% {
        background-position: center;
    }
    100% {
        background-position: left;
    }
}

body,
button {
    text-shadow: 1px 1px 2px #000, -1px 1px 2px #000, -1px -1px 0 #000, 1px -1px 0 #000;
}

main,
.home,
.home-wrapper,
.menu,
.menu-wrapper,
.about,
.about-wrapper,
.contact,
.contact-wrapper,
.projects,
.projects-wrapper {
    height: 100vh;
}

.home,
.menu,
.about,
.contact,
.projects {
    margin: 0 24px;
}

.menu,
.menu-wrapper,
.about,
.about-wrapper,
.contact,
.contact-wrapper,
.projects,
.projects-wrapper {
    display: none;
}

.home-wrapper,
.menu-wrapper,
.about-wrapper,
.contact-wrapper,
.projects-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrapper,
.about-wrapper,
.contact-wrapper,
.projects-wrapper {
    padding: 15vh 0;

}

header {
    position: fixed;
    z-index: 5;
    top: 5vh;
    width: 100%;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.left-header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-header-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.right-header-content ul {
    display: flex;
    flex-direction: row;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

.menu-button {
    background: transparent;
    border: none;
    fill: white;
    z-index: 7;
}

.menu-button:hover {
    cursor: pointer;
}

.menu-button .bar {
    transition:
        y 300ms ease-in 300ms,
        rotate 300ms ease-in,
        opacity 0ms 300ms;
    transform-origin: center;
}

.menu-button[aria-expanded="true"] .bar {
    transition:
        y 300ms ease-in,
        rotate 300ms ease-in 300ms,
        opacity 0ms 300ms;
}

.menu-button[aria-expanded="true"] .top,
.menu-button[aria-expanded="true"] .bottom {
    y: 45;
}

.menu-button[aria-expanded="true"] .top {
    rotate: 45deg;
}

.menu-button[aria-expanded="true"] .middle {
    opacity: 0;
}

.menu-button[aria-expanded="true"] .bottom {
    rotate: -45deg;
}

.intro-text {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-text h1 {
    margin: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
}

/* .intro-text h1:last-of-type {
    font-size: 1.1rem;
} */

.name {
    margin-left: 6px;
    margin-bottom: 3px;
    font-weight: 800;
    display: inline-block;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #000, -1px 1px 2px #000, -1px -1px 0 #000, 1px -1px 0 #000, 1px 0px 1px black, 0px 1px 1px black, 
      2px 1px 1px black, 1px 2px 1px #eee,
      3px 2px 1px #ccc, 2px 3px 1px #eee;
}

#full-name {
    font-size: 1.75rem;
}

#nickname {
    font-size: 2rem;
}

/* .intro-role,
.intro-links {
    margin-top: 3%;
} */

.intro-role-p {
    padding: 5px 0px;
    border-bottom: 0.5px dashed white;
    border-top: 0.5px dashed white;
    text-transform: lowercase;
    font-size: 1rem;
    font-family: "Sofia", cursive;
    font-weight: 500;
}

.intro-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-links button {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: "Unica One", sans-serif;
    background: transparent;
    border: none;
    z-index: 3;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.intro-links button, .about-page-button {
    font-size: 1.2rem;
}

.intro-links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    transition: all .5s ease-out;
}

.intro-links-wrapper:hover {
    transform: scale(1.2);    
}

/* .intro-links-wrapper:first-of-type,
.about-links-wrapper {
    margin-bottom: 15px;
} */

.intro-links-wrapper,
.about-links-wrapper {
    flex-direction: row-reverse;
}

.intro-links-wrapper img,
.about-links-wrapper img {
    margin-right: 10px;
    height: 17px;
}

.menu-wrapper ul {
    list-style-type: circle;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 30%;
}

.menu li::marker {
    font-size: 2rem;
}

.menu-wrapper button {
    font-size: 2rem;
    font-weight: 600;
    font-family: "Unica One", sans-serif;
    width: fit-content;
    background: transparent;
    border: none;
    color: white;
    z-index: 3;
    cursor: pointer;
}

.about-wrapper,
.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-wrapper-content {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

.about h1,
.contact h1 {
    font-family: "Unica One", sans-serif;
    font-size: 1.75rem;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.about-text {
    margin-top: 10%;
}

.about-text p {
    font-size: 1rem;
    float: left;
}

.about-page-button {
    border: none;
    background: transparent;
    color: white;
    font-family: "Sofia", cursive;
    z-index: 3;
    font-size: 1.2rem;
}

.about-image-links-container {
    display: flex;
    margin-top: 5vh;
}

.about-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-links-wrapper {
    display: flex;
    align-items: center;
}

.about-photo-container {
    float: right;
    margin: 0 7vw;
}

#about-photo {
    height: 20vh;
    border-radius: 15px;
    opacity: 90%;
}

.contact h2 {
    margin-top: 0;
}

.contact-page-content,
form {
    margin-top: 20px;
}

.contact-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.contact svg {
    height: 25px;
    width: 45px;
}

svg {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.github, 
.linkedIn,
.treehouse {
    fill: white;
    stroke: white;
}

.mail {
    stroke: white;
}

.contact svg:hover,
.contact svg:focus {
    transform: rotate(30deg) scale(1.2);
}

form {
    border: 3px solid white;
    border-radius: 5px;
    padding: 15px 10px;
    max-width: 300px;
    margin: 10% auto 0;
}

form h2,
form p,
#send-button {
    text-align: center;
}

.form-content {
    width: 80%;
    margin: 0 auto;
}

form h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

form h2,
form label {
    text-transform: uppercase;
}

form label {
    letter-spacing: 1px;
}

p {
    margin: 0;
}

input,
textarea {
    margin-top: 5px;
    width: 100%;
    border: 1px solid black;
    font-size: 1rem;
    padding: 5px 10px;
    font-family: 'Fira Sans Condensed';
    letter-spacing: .5px;
    border-radius: 5px;
}

input {
    margin-bottom: 5px;
}

textarea {
    height: 50px;
    margin-bottom: 10px;
}

.form-button-container {
    display: flex;
    justify-content: center;
}

#send-button {
    width: 60%;
    background-color: var(--green);
    color: white;
    padding: 3px 0;
    font-size: 1.1rem;
    font-family: 'Fira Sans Condensed';
    border-radius: 10px;
    border-color: white;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    
    .menu-button {
        width: 60;
    }
    
    .about-text p {
        font-size: 1.8rem;
    }

    .intro-links button, .about-page-button {
        font-size: 2rem;
    }

    .about h1, .contact h1 {
        font-family: "Unica One", sans-serif;
        font-size: 3rem;
    }

    .intro-role-p {
        padding: 10px 0px;
        border-bottom: 0.5px dashed white;
        border-top: 0.5px dashed white;
        text-transform: lowercase;
        font-size: 2.3rem;
    }

    .intro-text h1 {
        font-size: 2rem;
    }

    .name {
        margin-left: 17px;
        margin-bottom: 0px;
        font-size: 4.7rem;
    }

    #full-name {
        font-size: 3rem;
    }

    .intro-text h1:last-of-type {
        font-size: 2.35rem;
    }

    .intro-links button, .about-page-button {
        font-size: 2.5rem;
    }

    .contact svg {
        height: 45px;
        width: 65px;
    }

    .contact-page-content,
    form {
        margin-top: 60px;
    }
}

