* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(25, 50, 60, .75), rgba(65, 101, 138, .75), rgba(149, 178, 176, .75)),
                url(../images/stars.jpg);
    background-size: 200%;
    animation: backgroundFlow 400s ease infinite;
    color: white;
    font-family: 'Fira Sans Condensed', sans-serif;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

@keyframes backgroundFlow {
	0% {
		background-position: left;
	}
    25% {
		background-position: center;
	}
	50% {
		background-position: right;
	}
    75% {
        background-position: center;
    }
    100% {
        background-position: left;
    }
}

body,
button {
    text-shadow: 1px 1px 2px #000, -1px 1px 2px #000, -1px -1px 0 #000, 1px -1px 0 #000;
}

main,
.home,
.home-wrapper,
.menu,
.menu-wrapper,
.about,
.about-wrapper,
.contact,
.contact-wrapper,
.projects,
.projects-wrapper {
    height: 100vh;
}

.home,
.menu,
.about,
.contact,
.projects {
    margin: 0 24px;
}

.menu,
.menu-wrapper,
.about,
.about-wrapper,
.contact,
.contact-wrapper,
.projects,
.projects-wrapper {
    display: none;
}

.home-wrapper,
.menu-wrapper,
.about-wrapper,
.contact-wrapper,
.projects-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrapper,
.about-wrapper,
.contact-wrapper,
.projects-wrapper {
    padding: 30% 15% 25%;

}

header {
    position: fixed;
    z-index: 5;
    top: 5vh;
    width: 100%;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.left-header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-header-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.right-header-content ul {
    display: flex;
    flex-direction: row;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

.menu-button {
    background: transparent;
    border: none;
    fill: white;
    z-index: 7;
}

.menu-button:hover {
    cursor: pointer;
}

.menu-button .bar {
    transition:
        y 300ms ease-in 300ms,
        rotate 300ms ease-in,
        opacity 0ms 300ms;
    transform-origin: center;
}

.menu-button[aria-expanded="true"] .bar {
    transition:
        y 300ms ease-in,
        rotate 300ms ease-in 300ms,
        opacity 0ms 300ms;
}

.menu-button[aria-expanded="true"] .top,
.menu-button[aria-expanded="true"] .bottom {
    y: 45;
}

.menu-button[aria-expanded="true"] .top {
    rotate: 45deg;
}

.menu-button[aria-expanded="true"] .middle {
    opacity: 0;
}

.menu-button[aria-expanded="true"] .bottom {
    rotate: -45deg;
}

.intro-text {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-text h1 {
    margin: 0;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.intro-text h1:last-of-type {
    font-size: 1.75rem;
}

.intro-text h1:last-of-type {
    font-size: 1.35rem;
}

.name {
    margin-left: 6px;
    margin-bottom: 3px;
    font-size: 2.7rem;
    font-weight: 800;
    display: inline-block;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #000, -1px 1px 2px #000, -1px -1px 0 #000, 1px -1px 0 #000, 1px 0px 1px black, 0px 1px 1px black, 
      2px 1px 1px black, 1px 2px 1px #eee,
      3px 2px 1px #ccc, 2px 3px 1px #eee;
}

#full-name {
    font-size: 1.75rem;
}

.intro-role,
.intro-links {
    margin-top: 40px;
}

.intro-role-p {
    padding: 10px 0px;
    border-bottom: 0.5px dashed white;
    border-top: 0.5px dashed white;
    text-transform: lowercase;
    font-size: 1.5rem;
    font-family: "Sofia", cursive;
    font-weight: 500;
}

.intro-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-links button {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: "Unica One", sans-serif;
    background: transparent;
    border: none;
    z-index: 3;
    color: white;
    text-decoration: none;
}

.intro-links button, .about-page-button {
    font-size: 1.6rem;
}

.intro-links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    transition: all .5s ease-out;
}

.intro-links-wrapper:hover {
    transform: scale(1.2);    
}

.intro-links-wrapper:first-of-type {
    margin-bottom: 15px;
}

.intro-links-wrapper,
.about-links-wrapper {
    flex-direction: row-reverse;
}

.intro-links-wrapper img,
.about-links-wrapper img {
    margin-right: 10px;
    height: 40px;
}

.menu-wrapper ul {
    list-style-type: circle;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 30%;
}

.menu-wrapper button {
    font-size: 3rem;
    font-weight: 600;
    font-family: "Unica One", sans-serif;
    width: fit-content;
    background: transparent;
    border: none;
    color: white;
    z-index: 3;
    cursor: pointer;
}

.about-wrapper,
.contact-wrapper, {
    display: flex;
    justify-content: center;
}

.about-wrapper {
    align-items: center;
}

.contact-wrapper {
    flex-direction: column;
    align-items: flex-start;
}

.about h1,
.contact h1 {
    font-family: "Unica One", sans-serif;
    font-size: 2.5rem;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.about-text, .about-links-container {
    margin-top: 15%;
}

.about-text p {
    font-size: 1.2rem;
}

.about-page-button {
    border: none;
    background: transparent;
    color: white;
    font-family: "Sofia", cursive;
    z-index: 3;
}

.about-links-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.about-links-wrapper {
    display: flex;
    align-items: center;
}

.contact h2 {
    margin-top: 0;
}

.contact-page-content {
    margin-top: 15%;
}

.contact-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

form {
    border: 3px solid white;
    border-radius: 5px;
    padding: 15px;
    max-width: 300px;
    margin: 15% auto 0;
}

form h2,
form p,
#send-button {
    text-align: center;
}

.form-content {
    width: 80%;
    margin: 0 auto;
}

form h2 {
    font-size: 1.25rem;
    margin-bottom: 25px;
}

p {
    margin: 0;
}

input,
textarea {
    width: 100%;
    margin-bottom: 10px;
}

textarea {
    height: 50px;
}

#send-button {
    width: 70%;
    margin: 0 auto;
}